.invBtn {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin-top: 15px;
    float: right;
  
    border-radius: 15px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
    background-image: linear-gradient(to right, #29323c, #485563, #485563, #29323c);
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  }

.inactive {
  display: inline;
}

.inicon {
  float: right
}

.cards {
  margin: 50px auto;
}