.homeLeft {
    width: 30%;
}

.homeRight {
    width: 68%;
}

.homeBox {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px;
}

.homeBottom {
    margin-top: 15px;
}

.homeFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tableKey {
    padding-right: 10px;
    width: 50%;
    font-weight: bolder;
}

.tableValue {
    padding-left: 10px;
    width: 50%
}