.invBtn {
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    margin-top: 15px;
    float: right;
  
    border-radius: 15px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  
    background-image: linear-gradient(to right, #29323c, #485563, #485563, #29323c);
    box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  }

.inactive {
  display: inline;
}

.inicon {
  float: right
}

.cards {
  margin: 50px auto;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 100%;            
  margin-top: 20px;
}

.pagination-arrow {
  border: none;
  background-color: transparent !important;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: none !important;
  text-decoration: none;
}

.pagination-arrow:hover,
.pagination-arrow:focus {
  background-color: transparent !important;
  outline: none;
}

.pagination-arrow:disabled {
  color: #ddd;
  cursor: not-allowed;
  background-color: transparent !important;
}

.pagination-number {
  border: 2px solid #ddd; 
  background-color: transparent !important; 
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none !important;
  transition: all 0.2s ease;
}

.pagination-number[disabled] {
  border: none !important;
  cursor: default;
  color: #000; 
  padding: 5px 10px;
  margin: 0 5px;
  background-color: transparent !important;
}

.pagination-number[disabled]:hover {
  cursor: default;
}

.pagination-number:hover {
  background-color: transparent !important;
  border-color: #ddd !important;
  color: inherit !important;
  box-shadow: none !important;
  padding: 5px 10px;  
  border-width: 2px !important;
}

.pagination-number.selected {
  border: 2px solid #333;
  font-weight: bold;
  background-color: transparent !important;
  padding: 5px 10px;
  border-width: 2px !important;
}