::placeholder {
    font-weight: bold;
    color: black;
}

.jobBold {
    font-weight: bold;
}

.searchBox {
    border: none;
}

.btn, .btn:hover, .btn:focus, .btn:active {
    color: black;
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 16px;
}

.refreshBtn {
    background-color: #111827;
    color: white;
    height: 52.5px;
    width: 52.5px;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.addBtn {
    background-color: #111827;
    color: white;
    height: 52.5px;
    width: 52.5px;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    left: 100px;
}

.toastCopy {
    position: fixed;
    bottom: 22.5px;
    right: 100px;
}

.dropDowns {
    margin-bottom: -1px !important;
    text-decoration: none !important;
    border: transparent !important;
}

.dropDownItem {
    width: 80%;
}

.expedite-row {
    background-color: pink;
}